# The canonical out-of-tree build subdirectory
[Bb]uild/

# Visual Studio clutter
*.sdf
*.suo
*.dir
*.vcxproj
*.vcxproj.filters
*.sln
*.opensdf
CMakeSettings.json
Win32
bin/
bin-int/
obj/
[Dd]ebug/
[Rr]elease/
x64
.vs/
MinSizeRel/
RelWithDebInfo/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

vcpkg_installed/